<div class="row">
  <div class="col-md-8">
    <h2>Create a New Wiki</h2>
    <% if policy(@wiki).new? %>
      <%= form_for @wiki do |f| %>
        <%= f.label :title %>
        <%= f.text_field :title, class: "form-control", placeholder: "Title" %>
        <br>
        <%= f.label :body %>
        <%= f.text_area :body, class: "form-control", rows: 6, columns: 50, placeholder: "Body" %>
        <br>
        <%= f.label :private %>
        <%= f.check_box :private %>
        <br>
        <%= link_to "Cancel", wikis_path, class: "btn btn-cancel" %>
        <%= f.submit "Create New Wiki", class: "btn btn-success" %>
      <% end %>
    <% else %>
     <h2>You are not authorized to create new wikis!</h2>
    <% end %>
  </div>
</div>
